# My Jupyter Notebook on IBM Watson Studio

__ABDUL AWAL NAEIM__  
Data Engineer

_I am interested in data science because It has already been declared as the hottest job of the 21st century. Data scientist brings in skill sets and knowledge from various backgrounds such as mathematics, statistics, Analytics, modeling, and business acumen. These skills will help me to identify patterns which can help organizations to recognize new market opportunities._

### Below code of mine is supposed to print the value of pi ###

In [4]:
22/7

3.142857142857143

HORIZONTAL RULE  

---

BULLETED LIST  

---
* One  
* Two  
* Three

NUMBERED LIST  

---
1. One
2. Two
3. Three


Table  

---

| Country        | Capital           | Currency  |
| ------------- |-------------| ----|
| Bangladesh      | Dhaka | TAKA |
| England      | London      |   British Pound |
| India | New Delhi      |    Rupee |

Hyperlink  

---

[THIS IS A LINK TO COURSEERA](https://www.coursera.org/)


IMAGES  

---

![alt text](https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/IBM_logo.svg/2560px-IBM_logo.svg.png "IBM LOGO")